@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "./fonts.css";
@import "./tailwind.css";
@import "./theme.css";

.logo {
  font-family: "Playpen Sans", cursive;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}

@media (min-width: 768px) {
  .marquee-mask {
    mask-image: linear-gradient(
      to right,
      transparent,
      black 15%,
      black 85%,
      transparent
    );
    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      black 15%,
      black 85%,
      transparent
    );
  }
}

.highlight-primary {
  @apply font-semibold text-black border-b-2 border-blue-400;
}

.highlight-soft {
  @apply font-semibold text-black bg-blue-100 px-1 rounded;
}

.highlight-strong {
  @apply font-semibold text-blue-600 underline underline-offset-4;
}
